<!DOCTYPE html>
<html>
    <head>
        <title>currency converter app</title>
        <link href="{{url_for('static',filename='styles/style.css') }}" rel="stylesheet" >
    </head>
    <body>
        <h1><b>CURRENCY CONVERTER APP</b></h1><br><br><br><br>
        <form action="#" method="POST">
            <select name="currency">
                {% for currency in currencies %}
                    <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
            </select>
            <input type="text" name="from_currency"><br><br>
            <select name="currency_">
                {% for currency in currencies %}
                    <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
            </select>
            {% if converted%}
            &nbsp;{{symbol}} {{converted}}
            {% endif %} 
            <br><br>
            <input type="submit" value="convert">
        </form><br>
    </body>
</html>